# Django Settings
DEBUG=1
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database Settings
DATABASE_URL=postgres://postgres:postgres@localhost:5432/webreceptivo

# Email Settings (opcional)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Media and Static Files
MEDIA_URL=/media/
STATIC_URL=/static/
